@media (min-width: 10px) and (max-width: 600px) {
	.AboutPage {
		.about-block {
			flex-direction: column;
			margin-bottom: 4em;

			.icon {
				margin-bottom: 1.5em;
				padding: 1.5em 0;
				width: 100%;
				box-shadow: none;
			}
			p {
				width: 100%;
				border: none;
			}
		}

		& > :nth-child(odd) {
			flex-direction: column-reverse;
		}
	}
}
