@media (min-width: 10px) and (max-width: 600px) {
	.TopMenu {
		flex-direction: column;
	}
	.nav-list {
		flex-direction: column;
		text-align: center;
		margin-top: 1em;

		&__item {
			margin: 0.2em 0;
		}
	}
	.logo {
		max-height: 30px;
		margin-right: 20px;

		img {
			max-height: 35px;
			width: 60px;
		}
	}
}
@media (min-width: 600px) {
	.TopMenu {
		flex-direction: row;
	}
	.nav-list {
		flex-direction: row;

		&__item {
			margin-left: 0.8em;
		}
	}

	.logo {
		img {
			margin-right: 1em;
			max-height: 55px;
		}
	}
}

@media (min-width: 1200px) {
	.nav-list {
		&__item {
			margin-left: 2.5em;
		}
	}
}
