.AboutPage {
	margin-top: 3em;

	.about-block {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-bottom: 5em;

		.icon {
			padding: 2em 0;
			width: 20%;
			min-height: 135px;
			color: $third-col;

			border: 1px solid $third-col;
			border-radius: 6px;
			box-shadow: 4px 4px 7px #000;
		}

		p {
			padding-bottom: 1em;
			width: 60%;
			border-bottom: 1px solid $third-col;
		}
	}
}
