@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$prim-col: #1f1f1f;
$sec-col: #dcb641;
$third-col: #ff9900;
$gradient: linear-gradient(
	90deg,
	rgba(220, 182, 65, 1) 0%,
	rgba(255, 153, 0, 1) 83%
);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	line-height: 1.5;

	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.App {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-family: 'Montserrat', sans-serif;
	color: $sec-col;
	background-color: $prim-col;
}

section {
	max-width: 1400px;
	text-align: justify;

	animation-name: fadeIn;
	animation-duration: 1.1s;
	animation-timing-function: ease-in-out;
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: scale(0.7);
		}
		to {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}
}
.section--fade-out {
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	@keyframes fadeOut {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(-100%);
		}
	}
}

img {
	width: 100%;
	object-fit: cover;
}
ul {
	list-style: none;
}

// ------ Shared styles -------
// ------ gradient text
h1,
.nav-list__item {
	color: transparent;
	background: rgb(220, 182, 65);
	background: $gradient;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
// ------ cursor - pointer
.logo,
.nav-list__item {
	cursor: pointer;
}
