.TopMenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;

	text-transform: capitalize;

	img {
		max-height: inherit;
		object-fit: scale-down;
	}
	h1 {
		font-size: 1.8rem;
	}
}
.nav-list {
	display: flex;
	user-select: none;

	&__item {
		position: relative;
		padding: 0.4em;
		transition: transform 0.25s ease-out, color 1s ease-out;

		&:hover {
			transform: scale(1.07);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -0.3em;
			left: 50%;

			width: 6px;
			height: 6px;

			opacity: 0;
			background: $sec-col;
			border-radius: 50%;

			transition: all 0.5s ease-in-out;
			transform: translateX(50%) translateY(300%) scale(0.5);
		}
	}
	&__item--active {
		color: rgb(220, 182, 65);
		background: none;
		background-clip: unset;
		-webikit-background-clip: unset;
		-webkit-text-fill-color: unset;

		&::after {
			transform: translateX(-50%) translateY(0) scale(1);

			opacity: 1;
		}
	}
}
